.gameChoice_inner {
    height: 100vh;
}

h1 {
    font-size: 4rem;
    padding-bottom: 100px;
}

.endGame, .PronGame {
    border: 2px solid var(--first-color);
    width: 500px;
    font-size: 4rem;
    margin: 25px;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
}