* ::-webkit-scrollbar {
    display: none;
  }

.title-img {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
}

.title-img img {
    width: 100%;
    /* border: red solid 3px; */

}

.ex {
    width: 1310px;
    /* height: 2083px; */
    border: 10px solid var(--first-color);
    margin-left: 295px;
    margin-right: 295px;
    margin-top: 144px;
    margin-bottom: 238px;
    border-radius: 20px;

    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.ex h2 {
    font-size: var(--h1-font-size);
    padding-top: 300px;
    /* padding-bottom: 50px; */
} 

.ex p {
    font-family: 'HakgyoansimDoldamB';
    font-size: var(--h2-font-size);
    margin-top: 35px;
    text-align: center;
} 
.ex p:last-child {
    margin-bottom: 300px;
} 


.title-buttons {
    display: flex;
    justify-content: space-between;
    width: 1330px;
    margin-bottom: 238px;
}

.ranking {
    font-size: var(--h1-font-size);
    margin: 20px;
    cursor: pointer;
}

.start {
    color: var(--second-color);
    font-size: var(--h1-font-size);
    margin: 20px;
    cursor: pointer;
}
