body {
    text-align: center;
}
/* .title {
    font-size: var(--h1-font-size);
    margin: 50px;
} */



.main{
    width: 100%;
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.timeZone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px; /* 원의 크기 */
    height: 70px; /* 원의 크기 */
    border: solid white 3px;
    border-radius: 50%;
    /* background-color: lightgray;  */
    font-size: 20px; /* 숫자 크기 */
    font-weight: bold;
    position: absolute; /* 또는 fixed */
    top: 50px;
    right: 50px;
}

.keyWord {
    border: 3px solid var(--first-color);
    border-radius: 50px;
    height: 50px;
    padding: 20px; /* 내부 여백 추가 */
    width: 50%;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    margin: 0 auto; /* 가운데 정렬을 위한 margin 설정 */
    font-size: var(--h2-font-size);
}

#word {
    /* margin-top: 20px; */
    margin: 50px;
    width: 500px;
    height: 50px;
    padding: 20px;
    font-size: 15px;
    border: 3px solid var(--first-color);
    border-radius: 50px;
    outline: none;
    padding-left: 10px;
    background-color: var(--body-color);
}