.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
h1{
    margin: 20px 0;
    font-size: var(--h1-font-size);
}

input[type="text"] {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 50px;
    width: 200px; /* 필요에 따라 너비 조정 */
    margin-bottom: 20px; /* 입력 필드 아래 여백 추가 */
    text-align: center;
}
#userid{
    border: 3px solid #fff; /* 테두리 스타일 및 색상 설정 */
    /* outline: none; */
    border-radius: 100px;
    justify-content: center;
    align-items: center;

}



#subbtn {
    margin-top: auto; /* 로그인 버튼 위 여백 추가 */
}
