.nameChange {
    height: 100vh;
    overflow: hidden;

}

.nameChange__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.title_container {
    width: 100%;
    height: 300px;
    background-color: var(--body-color);

    line-height: 400px;
    text-align: center;
}


h1 {
    font-size: var(--h1-font-size);
    padding-bottom: 100px;
}


input[type="text"] {
    outline: none;
    border: none;
    background-color: var(--body-color);
    height: 50px;
    text-align: center;
    font-size: var(--normal-font-size);
    color: white;
}
#userid{
    border: 3px solid var(--first-color);
    border-radius: 100px;
    width: 50vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
