.nameChange {
    /* height: 100vh; */
    overflow: hidden;
    margin-top: 200px;

}

.nameChange__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.title_container {
    width: 100%;
    /* height: 300px; */
    background-color: var(--body-color);

    /* line-height: 400px; */
    text-align: center;
    margin-bottom: 100px;
}


h1 {
    font-size: var(--h1-font-size);
    /* padding-bottom: 100px; */
}


input[type="text"] {
    outline: none;
    border: none;
    background-color: var(--body-color);
    height: 100%;
    text-align: center;
    font-size: 9rem;
    color: white;
}


#userid{
    border: 8px solid var(--first-color);
    border-radius: 300px;
    width: 1000px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;    
}

input::placeholder {
    font-size: var(--h1-font-size);
}


#submitBtn{
    display: none;
}

.confirmName {
    position: fixed;
    width: 1100px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--body-color);
    border: 10px solid var(--first-color);
    padding: 20px;
    z-index: 1000;
    border-radius: 30px;
    text-align: center;
}

.confirmName_text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: var(--h1-font-size);
}
.confirmName_text p, #nickname{
    font-family: 'HakgyoansimDoldamB';
}

.choice_name {
    font-size: var(--h1-font-size);
}

.yes {
    
}