.pronGame_inner {
    height: 100vh;
    overflow: hidden;

}

.prongame_container {
    width: 100%;
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    align-items: center;
}



.title_container h1 {
    font-size: var( --h1-font-size);
    margin-bottom: 80px;
}


#question {
    border: 10px solid var(--first-color);
    border-radius: 30px;
    width: 1500px;
    height: 320px;
    font-size: var(--h2-font-size);
    text-align: center;
    margin-bottom: 60px;
    padding: 30px;
}

textarea {
    background-color: var(--body-color);
    color: var(--first-color);
    border: none;
    width: 1500px;
    height: 240px;
    font-size: var(--h2-font-size);
    text-align: center;
}


.round-inner {
    font-size: var(--h2-font-size);
    display: flex;
    align-items: center;
    margin-bottom: 65px;
}

#countdown-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: var(--normal-font-size);
}