/* font url */
@font-face {
    font-family: 'HakgyoansimDoldamB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimDoldamB.woff2') format('woff2');
}

:root {
    --first-color: #FFFFFF;
    --second-color: #FF4242;
    --body-color: #004112;

    /* font 크기는 점차 수정할 생각 */
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.6rem;
    --font-thin: 200;
    --font-regular: 400;
    --font-bold: 700;   
}

* { margin: 0; padding: 0; }

/* 폰트 적용 */
h1, h2, h3, h4, h5, h6, p, li, span, div ,td, textarea {
    font-family: 'HakgyoansimDoldamB';
}


/* 전체 색상 적용 */
body {
    background-color: var(--body-color);
    color: var(--first-color);
}

/* 가운데 정렬 */
#wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 가운데 정렬 */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 도움말 css */
.questionIcon {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.questionIcon img {
    width: 70px;
    height: 70px;
}

.red-title {
    color: #FF4242;
}


/* 도움말 css */
.questionIcon {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.questionIcon img {
    width: 70px;
    height: 70px;
}

.questionExp {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 110px;
    margin: 20px;
    width: 400px;
    height: 200px;
    border-radius: 30px;
    background-color: #D9D9D9;
    padding: 20px;
    text-align: center;
    font-size: 1.9rem;
    color: #000000;
    font-weight: 200;
}

.questionExp::after {
    content: "";
    position: absolute;
    bottom: 20px; /* 꼬리의 위치 조정 */
    right: -18px; /* 꼬리의 위치 조정 */
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #D9D9D9;
}

.questionExp p {
    padding: 10px;
}